
<head>
  <%= stylesheet_link_tag    'contact' %>
</head>

<div class = "contact_container">
  <p>
    <div class = "name">
      Lawrence Glenn
    </div>
    <div class="name_subtitle">
      <span>Software engineer, Website designer, All around technical wizard</span>
    </div>
    <p>760-447-2058</p>
    <p>Lawrence.O.Glenn@Gmail.com</p>
  </p>
</div>

<ul>
  <li>
    "He's the best" </br>
            -his mom
  </li>
  <li></li>
  <li></li>
  <li></li>
  <li>
    "I've seen worse" </br>
            -his dad
  </li>
  <li></li>
  <li></li>
  <li></li>
  <li>
    "The Gandalf of tech" </br>
            -impressed customers
  </li>
  <li></li>
  <li></li>
  <li></li>
  <li>
    "We'll definitly call him back" </br>
                  -many companies
  </li>
  <li></li>
  <li></li>
  <li></li>
  <li>
    "How did he do that!?" </br>
              -drunk friends
  </li>
  <li></li>
  <li></li>
  <li></li>
  <li>
    "Definetly... something" </br>
              -his teachers
  </li>
  <li></li>
  <li></li>
  <li></li>
  <li>
    "Gave me some change"</br>
              -homeless man
  </li>
  <li></li>
  <li></li>
  <li></li>
</ul>