// Place all the styles related to the settlements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@font-face {
  font-family: 'Great Vibes';
  src: font-url("/assets/GreatVibes-Regular") format("truetype");
  font-weight: normal;
  font-style: normal;
}

Body{
  background-image: url(hi-res-papyrus.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-repeat: repeat-y;
  font: 400 24px/1.4 'Great Vibes', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}
.Settlement_Name{
  font-weight: bold;
  font-size: 36px;
}

input[type="checkbox"]{
  display: none;
}
label.qualities, label.disadvantages{
  position: relative;
  padding-left: 30px;
  font-size: 24px;
  cursor: pointer;
  color: black;
  padding: 1px 0px 0 28px;
  margin-left: 30px;
}
label.qualities:before, label.qualities:after, label.disadvantages:before, label.disadvantages:after{
  font-size: 24px;
  /*absolutely positioned*/
  position: absolute; top: 1; left: -10px;
}
label.qualities:before, label.disadvantages:before {
  content: '[]'; /*checkbox unchecked */
}
label.qualities:after, label.disadvantages:after {
  content: '√'; /*checkbox checked*/
  max-width: 0;
  overflow: hidden;
  opacity: 0.5;
  font-size: 40px;
  font-style: italic;
  bottom: -6px;
  left: -6px;
  color: black;
 
  -webkit-transition: all 0.50s;
  -moz-transition: all 0.50s;
  -o-transition: all 0.50s;
  transition: all 0.50s;
}
input[type="checkbox"]:checked + label:after {
  max-width: 25px;
  opacity: 1;
  margin-right: 40px;
}

input[type="text"], input[type="number"],textarea, select, select{
  background: transparent;
  border-width: 0 0 2px 0;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-radius: 0 0 15px 0;
  box-shadow: none;
  font-family: 'Great Vibes', Helvetica, sans-serif;
}

input[type="number"]{
  width: 120px;
}

.border{
  margin-top: 0px;
  padding-top: 20px;
  padding-left: 40px;
  border-width: 5px 0 0 0;
  border-radius: 60px 0 0 0;
  border-top-style: solid;
  border-top-color: black;
  width: 60%;
  float: left;
}
.border-effect{
  border-width: 0px 0px 5px 0px;
  border-radius: 0 0 80px 0;
  border-bottom-style: solid;
  border-bottom-color: black;
  width: 85%;
  padding-bottom: 80px;
  margin-left: 60px;
  margin-bottom: -5px;
  float: left;
}
.output_container{
  padding-left: 6px;
}
.stat_label, label[for="QUALITIES"], label[for="DISADVANTAGES"] {
  font-weight:bold;
}
div.demographics_input_container{
  display: inline-block;
  vertical-align: top;
}
table.size_key {
  text-align: center;
  border-collapse: collapse;
  display: inline-block;
  height: 100%;

  th {
    border-bottom: 1px solid black;
    padding-left: 4px;
    padding-right: 4px;
  }
  th, td{
    border-right: 1px solid black;
    border-left: 1px solid black;
  }
  th:first-child, td:first-child {
    border-left: none;
  }
  th:last-child, td:last-child {
    border-right: none;
  }
}
#danger_label {
  float: left;
  padding-right: 8px;
}
#disadvantages_container {
  display: none;
  float: left;
}
#population_details_input{
  resize: none;
  font-size: 16px;
  height: 50px;
  width: 300px;
}
label[for="population_details_label"]{
  vertical-align: top;
}
label[for="dynamic_population_details_label"]{
}
.checkbox_container{
  float: left;
}
.tooltip{
  position: absolute;
  border-radius: 15px;
  padding: 5px;
  max-width: 400px;
  max-height: 100px;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 12px;
  background-color: #eedbc3;
  opacity: .85;
}