// Place all the styles related to the settlements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui/tooltip
 */


@font-face {
  font-family: 'Carobtn';
  src: font-url("CAROBTN.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


body{
  font-family: 'Carobtn', Helvetica, sans-serif;
  font-size: 28px;
  color: #2b2b2b;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}
.background_class{
  background-image: url(Seamless-hi-res-papyrus.png);
  background-size: 100%;
  background-repeat: repeat-y;
}
.Settlement_Name{
  font-weight: bold;
  font-size: 36px;
}
#name_input{
  margin-bottom: 10px;
}

h1{
  text-align: center;
}
h2{
  text-align: center;
  font-size: 16px;
  margin-top: -30px;
  margin-bottom: 50px;
  border-bottom: 10px;
  padding-bottom: 20px;
  background-image: url(calligraphy_underscore.png);
  background-size: 100% 35px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.margin_container{
  margin-left: 8%;
  margin-right: 8%;
}

label.qualities_label, label.disadvantages_label{
  display: inline-block;
  width: 100%;
  background-image: url(calligraphy_underscore_fliped.png);
  background-size: 100% 20px;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 10px;
}
label.disadvantages_label{
  background-image: url(calligraphy_underscore.png);
  background-size: 100% 30px;
}

input[type="checkbox"]{
  display: none;
}
label.qualities, label.disadvantages{
  text-align: left;
  position: relative;
  font-size: 24px;
  cursor: pointer;
  color: black;
  padding: 10px 0px 10px 18px;
  margin-left: 20px;
}
label.qualities:before, label.qualities:after, label.disadvantages:before, label.disadvantages:after{
  /*absolutely positioned*/
  position: absolute; top: 10px; left: -10px;
}
label.qualities:before, label.disadvantages:before {
  content: '( )'; /*checkbox unchecked */
}
label.qualities:after, label.disadvantages:after {
  content: '√'; /*checkbox checked*/
  width: 0;
  opacity: 0.5;
  overflow: hidden;
  font-size: 30px;
  font-style: italic;
  bottom: 0px;
  left: -12px;
  top: 0px;
  color: black;

  -webkit-transition: all 1.00s;
  -moz-transition: all 1.00s;
  -o-transition: all 1.00s;
  transition: all 1.00s;
}
input[type="checkbox"]:checked + label:after {
  width: 30px;
  opacity: 1;
  margin-right: 50px;
}

input[type="text"], input[type="number"],textarea, select, select{
  background: transparent;
  border-width: 0 0 2px 0;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-radius: 0 0 15px 0;
  box-shadow: none;
  font-family: 'Carobtn', Helvetica, sans-serif;
  font-size: 24px;
}
select option{
  background-color: #edd28f;
}

input[type="number"]{
  width: 120px;
}

.border{
  margin-top: 0px;
  padding-top: 20px;
  padding-left: 40px;
  border-width: 5px 0 0 0;
  border-radius: 60px 0 0 0;
  border-top-style: solid;
  border-top-color: black;
  width: 70%;
  float: left;
}
.border-effect{
  border-width: 0px 0px 5px 0px;
  border-radius: 0 0 80px 0;
  border-bottom-style: solid;
  border-bottom-color: black;
  width: 85%;
  padding-bottom: 80px;
  margin-left: 60px;
  margin-bottom: -5px;
  float: left;
  position: relative;
}
.output_container{
  padding-left: 6px;
}
.stat_label, label[for="QUALITIES"], label[for="DISADVANTAGES"] {
  font-weight:bold;
}
div.demographics_input_container{
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.total_input_container{
  text-align: center;
}
table.size_key {
  text-align: center;
  border-collapse: collapse;
  display: inline-block;
  height: 100%;

  th {
    border-bottom: 1px solid black;
    padding-left: 4px;
    padding-right: 4px;
  }
  th, td{
    border-right: 1px solid black;
    border-left: 1px solid black;
  }
  th:first-child, td:first-child {
    border-left: none;
  }
  th:last-child, td:last-child {
    border-right: none;
  }
}
#danger_label {
  float: left;
  padding-right: 8px;
}
#disadvantages_container {
  display: none;
  float: left;
}
.demo_container{
  display: block;
  float: none;
  height: 34px;
}
#population_details_input{
  resize: none;
  font-size: 16px;
  height: 25px;
  width: 300px;
}
#alignment_input, #government_input{
  margin-top: 10px;
}
label[for="population_details_label"]{
  padding-left: 30px;
  vertical-align: top;
}
label[for="dynamic_population_details_label"]{
}
.checkbox_container{
  float: left;
}
.divtext {
  width: 100%;
  min-height: 30px;
  overflow: auto;
}
.ui-tooltip-content{
  font-family: sans-serif;
  font-weight: normal;
  font-size: 12px;
}
.ui-helper-hidden-accessible{
  display:none;
}
div[role="tooltip"]{
  background-color: #edd28f;
  max-width: 400px;
  border-style: hidden;
  border-radius: 20px;
}
div.signature{
  float: right;
  width: 100%;
}
label[for="signature"]{
  float: right;
  font-size: 16px;
}
input#artifact_input{
  width: 150px;
  font-size: 16px;
}
.qualities_extra_input{
  font-size: 14px;
  width: 120px;
}
button{
  background: transparent;
  font-size: 24px;
  font-family: 'Carobtn', Helvetica, sans-serif;
}
  .printer_friendly{
  position: absolute;
  bottom: 0;
  right: 75px;
  }
  .remove_background{
  position: absolute;
  bottom: 0;
  right: 210px;
  display: none;
  }
.disadvantages_container, .name_pop_container{
  padding: 10px 0px 20px 0px;
  max-width: auto;
}
.box_background{
  background-image: url(yellow-smear-translucent-boxy.png);
  background-size: 100% 100%;
}
.qualities_container{
  margin-top: 25px;
  padding: 20px 50px 20px 50px;
  background-image: url(yellow-smear-translucent-boxy.png);
  background-size: 100% 100%;
}
.disadvantages_checkbox_container{
  display: inline-block;
}

.nav_bar{
  text-align: right;
  font-size: 20px; 
}

.disadvantages_container{
  display: inline-block;
}